<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="pointUsageConcept">
      <h2 data-cy="pointUsageConceptDetailsHeading"><span>Point Usage Concept</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ pointUsageConcept.id }}</span>
        </dd>
        <dt><span>Description</span></dt>
        <dd>
          <span>{{ pointUsageConcept.description }}</span>
        </dd>
        <dt><span>Required Points</span></dt>
        <dd>
          <span>{{ pointUsageConcept.requiredPoints }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/point-usage-concept', pointUsageConcept.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
