<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="pointUse">
      <h2 data-cy="pointUseDetailsHeading"><span>Point Use</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ pointUse.id }}</span>
        </dd>
        <dt><span>Score Used</span></dt>
        <dd>
          <span>{{ pointUse.scoreUsed }}</span>
        </dd>
        <dt><span>Event Date</span></dt>
        <dd>
          <span>{{ pointUse.eventDate | formatMediumDatetime }}</span>
        </dd>
        <dt><span>Client</span></dt>
        <dd>
          <div *ngIf="pointUse.client">
            <a [routerLink]="['/client', pointUse.client?.id, 'view']">{{ pointUse.client?.id }}</a>
          </div>
        </dd>
        <dt><span>Point Usage Concept</span></dt>
        <dd>
          <div *ngIf="pointUse.pointUsageConcept">
            <a [routerLink]="['/point-usage-concept', pointUse.pointUsageConcept?.id, 'view']">{{ pointUse.pointUsageConcept?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/point-use', pointUse.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
