<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-bag-of-point-heading" data-cy="BagOfPointCreateUpdateHeading">Create or edit a Bag Of Point</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_asignationDate">Asignation Date</label>
          <div class="d-flex">
            <input
              id="field_asignationDate"
              data-cy="asignationDate"
              type="datetime-local"
              class="form-control"
              name="asignationDate"
              formControlName="asignationDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
          <div
            *ngIf="
              editForm.get('asignationDate')!.invalid && (editForm.get('asignationDate')!.dirty || editForm.get('asignationDate')!.touched)
            "
          >
            <small class="form-text text-danger" *ngIf="editForm.get('asignationDate')?.errors?.required"> This field is required. </small>
            <small class="form-text text-danger" [hidden]="!editForm.get('asignationDate')?.errors?.ZonedDateTimelocal">
              This field should be a date and time.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_expirationDate">Expiration Date</label>
          <div class="d-flex">
            <input
              id="field_expirationDate"
              data-cy="expirationDate"
              type="datetime-local"
              class="form-control"
              name="expirationDate"
              formControlName="expirationDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
          <div
            *ngIf="
              editForm.get('expirationDate')!.invalid && (editForm.get('expirationDate')!.dirty || editForm.get('expirationDate')!.touched)
            "
          >
            <small class="form-text text-danger" *ngIf="editForm.get('expirationDate')?.errors?.required"> This field is required. </small>
            <small class="form-text text-danger" [hidden]="!editForm.get('expirationDate')?.errors?.ZonedDateTimelocal">
              This field should be a date and time.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_assignedScore">Assigned Score</label>
          <input
            type="number"
            class="form-control"
            name="assignedScore"
            id="field_assignedScore"
            data-cy="assignedScore"
            formControlName="assignedScore"
          />
          <div
            *ngIf="
              editForm.get('assignedScore')!.invalid && (editForm.get('assignedScore')!.dirty || editForm.get('assignedScore')!.touched)
            "
          >
            <small class="form-text text-danger" *ngIf="editForm.get('assignedScore')?.errors?.required"> This field is required. </small>
            <small class="form-text text-danger" [hidden]="!editForm.get('assignedScore')?.errors?.number">
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_scoreUsed">Score Used</label>
          <input type="number" class="form-control" name="scoreUsed" id="field_scoreUsed" data-cy="scoreUsed" formControlName="scoreUsed" />
          <div *ngIf="editForm.get('scoreUsed')!.invalid && (editForm.get('scoreUsed')!.dirty || editForm.get('scoreUsed')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('scoreUsed')?.errors?.required"> This field is required. </small>
            <small class="form-text text-danger" [hidden]="!editForm.get('scoreUsed')?.errors?.number">
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_scoreBalance">Score Balance</label>
          <input
            type="number"
            class="form-control"
            name="scoreBalance"
            id="field_scoreBalance"
            data-cy="scoreBalance"
            formControlName="scoreBalance"
          />
          <div
            *ngIf="editForm.get('scoreBalance')!.invalid && (editForm.get('scoreBalance')!.dirty || editForm.get('scoreBalance')!.touched)"
          >
            <small class="form-text text-danger" *ngIf="editForm.get('scoreBalance')?.errors?.required"> This field is required. </small>
            <small class="form-text text-danger" [hidden]="!editForm.get('scoreBalance')?.errors?.number">
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_operationAmount">Operation Amount</label>
          <input
            type="number"
            class="form-control"
            name="operationAmount"
            id="field_operationAmount"
            data-cy="operationAmount"
            formControlName="operationAmount"
          />
          <div
            *ngIf="
              editForm.get('operationAmount')!.invalid &&
              (editForm.get('operationAmount')!.dirty || editForm.get('operationAmount')!.touched)
            "
          >
            <small class="form-text text-danger" *ngIf="editForm.get('operationAmount')?.errors?.required"> This field is required. </small>
            <small class="form-text text-danger" [hidden]="!editForm.get('operationAmount')?.errors?.number">
              This field should be a number.
            </small>
          </div>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
