<div>
  <h2 id="page-heading" data-cy="PointUsageConceptHeading">
    <span>Point Usage Concepts</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-point-usage-concept"
        [routerLink]="['/point-usage-concept/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Point Usage Concept </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="pointUsageConcepts?.length === 0">
    <span>No pointUsageConcepts found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="pointUsageConcepts && pointUsageConcepts.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span>ID</span></th>
          <th scope="col"><span>Description</span></th>
          <th scope="col"><span>Required Points</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let pointUsageConcept of pointUsageConcepts; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/point-usage-concept', pointUsageConcept.id, 'view']">{{ pointUsageConcept.id }}</a>
          </td>
          <td>{{ pointUsageConcept.description }}</td>
          <td>{{ pointUsageConcept.requiredPoints }}</td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/point-usage-concept', pointUsageConcept.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/point-usage-concept', pointUsageConcept.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(pointUsageConcept)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
