<div>
  <h2 id="page-heading" data-cy="PointUseHeading">
    <span>Point Uses</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-point-use"
        [routerLink]="['/point-use/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Point Use </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="pointUses?.length === 0">
    <span>No pointUses found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="pointUses && pointUses.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span>ID</span></th>
          <th scope="col"><span>Score Used</span></th>
          <th scope="col"><span>Event Date</span></th>
          <th scope="col"><span>Client</span></th>
          <th scope="col"><span>Point Usage Concept</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let pointUse of pointUses; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/point-use', pointUse.id, 'view']">{{ pointUse.id }}</a>
          </td>
          <td>{{ pointUse.scoreUsed }}</td>
          <td>{{ pointUse.eventDate | formatMediumDatetime }}</td>
          <td>
            <div *ngIf="pointUse.client">
              <a [routerLink]="['/client', pointUse.client?.id, 'view']">{{ pointUse.client?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="pointUse.pointUsageConcept">
              <a [routerLink]="['/point-usage-concept', pointUse.pointUsageConcept?.id, 'view']">{{ pointUse.pointUsageConcept?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/point-use', pointUse.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button type="submit" (click)="delete(pointUse)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
